@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
}

/* antd override */
input{
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.521);
    height: 40px !important;
}
input:focus{
    outline: none;
    box-shadow: none !important;
    border: 1px solid gray;
}
label{
    font-size: 16px !important;
    color: black;
}

.ant-form-item{
    margin: 20px 0 !important;
}

/* comon style */
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.normle-text{
    font-size: 1rem;
}

.primary-button{
    background-color: #1F1300 !important;
    border-color: #1F1300 !important;
    height: 40px !important;
    width: 100% !important;
    color:#FAF7F3 !important;
    font-size: 16px !important;
}
.primary-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1300 !important;
    border-color: #1F1300 !important;
    height: 40px !important;
    width: 30% !important;
    color: #FAF7F3 !important;
    font-size: 15px !important;
    margin-top: 15px !important;
    margin: 0 auto; /* Center horizontally */
}

.primary-button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1300 !important;
    border-color: #1F1300 !important;
    height: 40px !important;
    width: 30% !important;
    color: #FAF7F3 !important;
    font-size: 15px !important;
    margin-top:20px !important;
    margin: 0 auto; /* Center horizontally */
}
.anchor{
    color: black !important;
    text-decoration: underline ;
    font-size: 16px !important;
}
.anchor:hover{
    text-decoration: underline !important;
}

/*authentication pages */


.authentication{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00aaaa;
}
.authentications{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00aaaa;

}
.authenticationsn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9f0f0ad;

}
.authentication-forms{
    width: 400px;
    background-color: #faf7f3ad;  

}

.authentication-forms{
    width: 50%;
    background-color: #faf7f3ad;  
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.authentication .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #1F1300;
    color: #FAF7F3;
    max-width: max-content;
    padding: 7px 15px;
    margin-left: -50px;
    border-bottom-left-radius: 10px;

}


.ant-pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 5px !important;
    
}


.body{
    padding: 10px;
}
.ti{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 40px;
    margin: -10px;
}

.br{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
}

.form1 {
    margin-top: 20px;
    border: 0.5px solid hsla(0, 0%, 0%, 0.075);
    padding: 20px;
    border-radius: 5px;
    background-color:#f1eded;
}


.title{
    margin-top: -20px !important;
}

.ant-input-group{
 height: 40px !important;
 width: 400px !important;
 margin-top: -10px !important;
}


.ant-input-group-wrapper{
    margin-bottom: -10px !important;
    margin-top: -30px !important;
}
  
